body {
  background-color: #333333;
}

.navbar {
  background-color: rgb(244, 108, 37);
}

.coolstuff{
  color: white !important;
  background-color: white !important
}

container-fluid {
  overflow-x: scroll;
}

.row {
  display: -webkit-inline-box;
  white-space: nowrap;

}

/* Logs Styling */
.list-group-item.active {
  background-color: #1c3c5c;
  border: none;
}

.list-group-item {
  background-color: #38A9C7;
}

/* Posts styling */
.postBox {
  margin: 5px;
  white-space: normal;

}

.postTitle {
  color: black;
}

.postSubtitle {
  color: grey
}

.postContent {
  color: black;
}

.dashboard{
  font-size: 40px;
  background-color: rgb(117, 179, 198);
  text-align: center;
}

.landing_image{
  width: 100%;
}

.class-list {
  margin-top: 50px;
}
