

.logBase {
  background-color: blueviolet
}

container-fluid {
  overflow-x: scroll;
}

.row {
  display: -webkit-inline-box;
  white-space: nowrap;

}

.postBox {
  margin: 5px;
  white-space: normal;
  
}

.postTitle {
  color: black;
}

.postSubtitle {
  color: grey
}

.postContent {
  color: black;
}

.dashboard{
  font-size: 40px;
  text-align: center;
}
